.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: unset !important;
}

.stats-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  gap: 64px;
}

.stats-title {
  font-weight: 600;
  font-size: 24px;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.stat-title {
  font-weight: 600;
  font-size: 18px;
}

.stat-number {
  font-size: 20px;
}

.export-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.export-btn {
  background-color: #be123c;
  padding: 4px 16px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.075s linear;
}

.docbook-export-button {
  background-color: #be123c;
  padding: 4px 16px;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.075s linear;
}

.docbook-export-button:active {
  transform: translate(1px, 2px);
}

.export-btn:active {
  transform: translate(1px, 2px);
}

@media (min-width: 768px) {
  .stats-title {
    font-size: 36px;
  }

  .stat-number {
    font-size: 64px;
  }

  .stats-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
}

@media (min-width: 640px) {
  .stats-title {
    font-size: 28px;
  }
  .stats-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 350px) {
  .stat-title {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .stats-content {
    padding: 0 24px;
  }
}

@media (max-width: 360px) {
  .stat-title {
    font-size: 14px;
  }

  .stats-content {
    padding: 0 8px;
  }
}
