<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/pages/contact/alert.css" />
    <title>Alert</title>
  </head>
  <body>
    <div class="alert-container">
      <div class="alert-popup-container">
        <div class="alert-details-container">
          <div class="alert-icon"></div>
          <div class="alert-text-container">
            <div class="alert-title">Alert</div>
            <div class="alert-description">This is an alert message</div>
          </div>
          <button class="alert-close-button">Close</button>
        </div>
      </div>
    </div>
  </body>
</html>
