{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "printWidth": 180,
  "overrides": [
    {
      "files": ["src/translation/**/*.ts", "src/translation/**/*.html"],
      "options": {
        "printWidth": 220
      }
    }
  ]
}
