@font-face {
  font-family: 'DM Sans';
  src: url('src/theme/fonts/DMSans-VariableFont.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}

button {
  outline: none;
  border: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px;
  gap: 24px;
}

.logo img {
}

.search-bar {
  max-width: 480px;
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  height: 32px;
  background-color: #ffffff;
  border: 2px solid #d1d5db;
  padding-left: 4px;
  border-radius: 2px;
}

.search-input {
  padding-left: 8px;
  width: 100%;
  border: none;
}

.search-input:focus {
  outline: none;
}

/* ========================= */

.search-results-container {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  min-height: 50px;
  z-index: 1000;
  display: none;
  gap: 8px;
  max-height: 80vh;
  overflow-y: auto;
}

.search-results-container::-webkit-scrollbar {
  width: 10px;
}

.search-results-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px 4px transparent;
  border: solid 1px transparent;
  border-radius: 2px;
  margin: 8px 0;
}

.search-results-container::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 5px rgb(90, 90, 90);
  border: solid 1px transparent;
  border-radius: 2px;
}

.result-container {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.result-anchor {
  display: flex;
  gap: 12px;
  text-decoration: none;
}

.result-cover {
  width: 40px;
  background-color: #333;
}

.result-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 0;
}

.result-title {
  font-size: 17px;
  font-weight: 600;
  color: #333;
}

.result-author {
  font-size: 15px;
  color: #666;
}

.no-results-found {
  font-size: 16px;
  color: #666;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ========================= */

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-link {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
}

.content {
  min-height: calc(100vh - 81px - 48px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer {
  color: #d1d5db;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.nav-modal-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 101;
  color: white;
}

.nav-add-a-book {
  background-color: #be123c;
  color: white;
  padding: 0 8px;
  height: 32px;
  border-radius: 2px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  justify-content: center;
  transition:
    transform 0.075s linear,
    background-color 0.1s linear;
}

.nav-add-a-book:hover {
  background-color: #9f1239;
}

.nav-add-a-book:active {
  transform: translate(1px, 2px);
}

@media screen and (min-width: 640px) {
  .navbar {
    padding-left: 48px;
    padding-right: 48px;
  }

  .content {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding-left: 96px;
    padding-right: 96px;
  }

  .content {
    padding-left: 96px;
    padding-right: 96px;
  }
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px 4px transparent;
  border: solid 1px transparent;
  border-radius: 2px;
  margin: 8px 0;
}

textarea::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 5px rgb(90, 90, 90);
  border: solid 1px transparent;
  border-radius: 2px;
}

.modal-lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  width: 32px;
}

.modal-line {
  width: 32px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  transition: height 0.3s ease;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 44px;
  font-weight: 700;
  cursor: pointer;
  color: black;
  z-index: 105;
  visibility: unset;
}

@media (min-width: 900px) {
  .modal-overlay {
    display: none;
    visibility: hidden;
  }
  .modal-lines {
    display: none;
    visibility: hidden;
  }
  .modal-close {
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 450px) {
  .footer {
    font-size: 12px;
    height: 36px;
  }
  .content {
    min-height: calc(100vh - 81px - 36px);
  }
}

@media (max-width: 320px) {
  .footer {
    font-size: 11px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar {
    padding: 12px 48px;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 12px 24px;
  }
  .nav-links {
    gap: 16px;
  }
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
    visibility: hidden;
  }

  .nav-link {
    font-size: 22px;
  }
}
